[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adi-reader = "*"
beartype = "*"
cffi = "*"
click = "*"
matplotlib = "*"
numba = "*"
numpy = "*"
pandas = "*"
pyqt5 = "*"
pyyaml = "*"
scipy = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
